#configId {
    background-color: darkslategray;
    color: whitesmoke;
}
#configId a,
#configId button,
#configId input,
#configId select,
#configId select option,
#configId .section_desc {
    color: whitesmoke !important;
}
#configId a,
#configId button,
#configId input,
#configId .section_desc {
    font-size: .8em !important;
}
#configId button,
#configId input,
#configId select,
#configId select option,
#configId .section_desc {
    background-color: #333;
    border: 1px solid #222;
}
#configId button{
    height: 1.65em !important;
}
#configId_header {
    font-size: 1.3em !important;
}
#configId_header::before {
    background: url(iconUrl);
    background-size: 24px;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 24px;
    padding-right: 5px;
    position: absolute;
    transform: translateX(-100%);
    width: 24px;
}
#configId.section_header {
    background-color: #454545;
    border: 1px solid #222;
    font-size: 1em !important;
}
#configId .field_label {
    font-size: .7em !important;
}
#configId_buttons_holder {
    position: fixed;
    width: 97%;
    bottom: 0;
}
#configId .reset_holder {
    float: left;
    position: relative;
    bottom: -1em;
}
#configId .saveclose_buttons {
    margin: .7em;
}
#configId_field_support {
    background: none !important;
    border: none !important;
    cursor: pointer !important;      
    padding: 0 !important;
    text-decoration: underline !important;
}
#configId_field_support:hover,
#configId_resetLink:hover {
    filter: drop-shadow(0 0 1px dodgerblue);
}
