.details {
    position: absolute;
    top: 1.5em;
    right: 0;
    width: 100%;
}
.script_tab_head {
    position: absolute;
}
.tv {
    position: absolute;
}
.tv_container_fit {
    top: 2.3em;
    bottom: 1.5em;
    right: .1em;
}
.tr_tabs {
    background: none !important;
}
tr.entry .shortcut {
    color: gray;
}
.tv_tabs_align {
    float: right;
}
/* for x-resolution 1280+ */
@media screen and (min-width: 1280px) {
    .updateurl_input {
        width: 500px;
    }
}
/* for x-resolution 1366+ */
@media screen and (min-width: 1366px) {
    .updateurl_input {
        width: 700px;
    }
}
